<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petplatform.mapper.CommonMapper">

    <insert id="signUp" parameterType="com.petplatform.dto.UserDto">
        insert into
            user
                (userid, password, nick_name, name, birth,
                 address, email, phone_number, user_type)
        values
            (#{userId}, #{password}, #{nickName}, #{name}, #{birth},
             #{address}, #{email}, #{phoneNumber}, #{userType})
    </insert>

    <select id="doubleCheck" parameterType="java.lang.String" resultType="java.lang.Integer">
        select
            count(*) as result
        from
            user
        where
            userid = #{userId}
    </select>

    <update id="modifyPassword" parameterType="com.petplatform.dto.UserDto">
        update
            user
        set
            password = #{password}
        where
            userid = #{userId}
    </update>

    <update id="modifyUser" parameterType="com.petplatform.dto.UserDto">
        update
            user
        set
            name = #{name},
            nick_name = #{nickName},
            birth = #{birth},
            address = #{address},
            email = #{email},
            phone_number = #{phoneNumber}
        where
            userid = #{userId}
    </update>

    <delete id="deleteUser" parameterType="com.petplatform.dto.UserDto">
        update
            user
        set
            useyn = 'n'
        where
            userid = #{userId}
    </delete>

</mapper>