<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petplatform.mapper.CommonMapper">

    <select id="getUserInfo" resultType="com.petplatform.dto.UserDto" parameterType="com.petplatform.dto.UserDto">
        select
            userid,
            password,
            name,
            birth,
            address,
            email,
            phone_number as phoneNumber,
            user_type as userType
        from
            user
        where
            userid=#{userId}
    </select>

    <select id="postUserInfo" resultType="com.petplatform.dto.UserDto" parameterType="com.petplatform.dto.UserDto">
        select
            userid,
            password,
            name,
            birth,
            address,
            phone_number as phoneNumber,
            user_type as userType
        from
            user
        where
            userid=#{userId}
    </select>

    <insert id="signUp" parameterType="com.petplatform.dto.UserDto">
        insert into
            user
                (userid, password, nick_name, name, birth,
                 address, email, phone_number, user_type)
        values
            (#{userId}, #{password}, #{nickName}, #{name}, #{birth},
             #{address}, #{email}, #{phoneNumber}, #{userType})
    </insert>

    <select id="doubleCheck" parameterType="java.lang.String" resultType="java.lang.Integer">
        select
            count(*) as result
        from
            user
        where
            userid = #{userId}
    </select>

</mapper>